<%= render partial: "users/header",locals: {size:'sm'} rescue "No user header" %>
<%= render partial: "community/rank/parts/sub_header", locals: {theme:0,path_to_more: newsify.feed_path,selected:0} %>
<div class="border border-primary border-3 p-2">
TODO: add community suggestions

</div>