<% room_org = room.org_by_user(user) %>
<% unless room_org.nil? %>
<div data-channel-subscribe="room_org" data-team-token="<%= room.org_by_user(user).token %>" data-target="#usersTyping">
		<%= link_to room_org.org.name, room_org.org, data: {toggle:'tooltip'}, title: "Token: #{room_org.token}", class: "p-1" %>
</div>
<% end %>