<% topics = source.topics(min_score:0.15,max_score:1.0) if local_assigns[:topics].nil? %>
<% topics2 = source.topics(min_score:0.0,max_score:0.15) if local_assigns[:topics2].nil? %>
<% show = local_assigns[:show] %>
<% if (source.similar_sources.nil? || source.similar_sources.count("*") == 0) && topics.count("*") == 0 && topics2.count("*") == 0 %>

<% else %> 
<div class="row w-100 bg-light no-gutters" style="left:15px;">
	<div class="col-9" style="overflow-x: scroll;">

		<% begin %>
	<%= render partial: "newsify/sources/parts/items", locals: {source:source,topics:topics,topics2:topics2} %>
	<% rescue Exception => e %>
	ERROR1: <%= e %>
	<% end %>
	</div>
	<div class="col-3 pt-1">
	<% begin %>
		<%= render partial: "newsify/sources/parts/similar", locals: {source:source} if show[:similar_count] %>
	<% rescue Exception => e %>
	ERROR2: <%= e %>
	<% end %>
	</div>
</div>
<% end %>