<% topics = source.topics(min_score:0.15,max_score:1.0) if local_assigns[:topics].nil? %>
<% topics2 = source.topics(min_score:0.0,max_score:0.15) if local_assigns[:topics2].nil? %>
<div class="d-flex bg-light p-1 align-items-center">
	<% keywords = source.import_keywords.pluck(:keyword) %>
	<div class="badge bg-primary badge-primary rounded mr-1">
	<%= keywords.join(",") %>
	</div>
		<% max_score = topics.first.score if topics.length > 0 %>
		<% topics.each do |item| %>
		<%= link_to lbl_meter(item.name,score:item.score), newsify.item_path(item.id), class:"border #{[1,"1",true,"true","T","t"].include?(item.is_category) ? "border-dark" : ""} badge bg-light badge-light border rounded align-items-middle text-success p-1 m-1" %>
		<% end %>
		<% topics2.each do |item| %>
		<%= link_to lbl_meter(item.name,score:item.score), newsify.item_path(item.id), class:"border badge bg-light badge-light border rounded align-items-middle text-secondary p-1 m-1" %>
		<% end %>
</div>