<% unless source.similar_sources.nil? %>
<div class="ms-auto ml-auto text-right text-end" style="margin-right:30px;"><%= tag.span "#{source.similar_sources.count} similar", class: "d-flex-inline badge bg-primary badge-primary text-light rounded border" %></div>
<% end %>