
<div class="d-flex mb-1">
<% @org_types.each do |org_type,vals| %>
<%= link_to vals[:name], newsify.orgs_by_type_path(org_type:org_type), class:"mx-1 btn btn-sm border #{org_type.to_s == params[:org_type] ? "bg-dark text-light" : ""}" %>
<% end %>
</div>

<%= newsify_draw_orgs %>