<% data = local_assigns[:data] %>
<% paths = local_assigns[:paths] %>

<div class="d-flex justify-content-between bg-white border-bottom border-top my-1">
	<%= @page == 1 ? tag.span("") : link_to("Prev page", paths[:prev]) %>
	<div>
	<%= tag.span "#{data.total_count} rows", class: "fw-bold font-weight-bold" %>

	<%= tag.span "Page #{@page} of #{data.total_pages}", class: "mx-1" %>

	</div>
	<%= link_to("Next page", paths[:next]) %>
</div>

